@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #fc8a06;
  --banner: #03081f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-banner: var(--banner);
  --font-sans: var(--font-andada);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
